python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]==3.6
scikit-learn
mlflow==1.30.0
pyaml
dagshub
fastapi
uvicorn
python-multipart
setuptools==68.0.0
psycopg2
SQLAlchemy

# -e .

# uncomment at end of project
